# ============================
# 🔧 Archivos de ESP-IDF
# ============================
esp-idf/
build/
sdkconfig
sdkconfig.old
*.elf
*.bin
*.map
*.d
*.a
*.pyc
*.cmake
*.project
*.cproject
*.gdbinit
*.log
__pycache__/

# ============================
# 🔐 Certificados y claves
# ============================
certs/
*.crt
*.key
*.pem
*.pfx
*.der
*.cer

# ============================
# ⚙️ Configuraciones sensibles
# ============================
*.env
.env.*
config.c
credentials.h

# ============================
# 💻 Archivos de sistema
# ============================
.DS_Store
Thumbs.db
.idea/
*.swp
.venv/
credentials/wifi_credentials.c
credentials/wifi_credentials.h


# ============================
# 🧪 Archivos de prueba
# ============================
*.test.*
*.bak
*.orig

# ============================
# 📁 Montajes SPIFFS/FAT
# ============================
spiffs_image/
fatfs_image/
partition_table/
